In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as pl
import seaborn as sn

In [2]:
data = pd.read_csv("energy.csv")

In [3]:
data

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,DayOfWeek,Holiday,EnergyConsumption
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,On,Off,2.774699,Monday,No,75.364373
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,On,On,21.831384,Saturday,No,83.401855
2,2022-01-01 02:00:00,28.704277,58.907658,1755.715009,2,Off,Off,6.764672,Sunday,No,78.270888
3,2022-01-01 03:00:00,20.080469,50.371637,1452.316318,1,Off,On,8.623447,Wednesday,No,56.519850
4,2022-01-01 04:00:00,23.097359,51.401421,1094.130359,9,On,Off,3.071969,Friday,No,70.811732
...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-11 11:00:00,28.619382,48.850160,1080.087000,5,Off,Off,21.194696,Saturday,No,82.306692
996,2022-02-11 12:00:00,23.836647,47.256435,1705.235156,4,Off,On,25.748176,Tuesday,Yes,66.577320
997,2022-02-11 13:00:00,23.005340,48.720501,1320.285281,6,Off,On,0.297079,Friday,Yes,72.753471
998,2022-02-11 14:00:00,25.138365,31.306459,1309.079719,3,On,Off,20.425163,Thursday,Yes,76.950389
999,2022-02-11 15:00:00,23.051165,42.615421,1018.140606,6,Off,On,2.455657,Saturday,No,71.545311

#EDA

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          1000 non-null   object
 1   Temperature        1000 non-null   float64
 2   Humidity           1000 non-null   float64
 3   SquareFootage      1000 non-null   float64
 4   Occupancy          1000 non-null   int64
 5   HVACUsage          1000 non-null   object
 6   LightingUsage      1000 non-null   object
 7   RenewableEnergy    1000 non-null   float64
 8   DayOfWeek          1000 non-null   object
 9   Holiday            1000 non-null   object
 10  EnergyConsumption  1000 non-null   float64
dtypes: float64(5), int64(1), object(5)
memory usage: 86.1+ KB

In [5]:
#removes the null values
data.dropna(inplace = True)

In [7]:
data

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,DayOfWeek,Holiday,EnergyConsumption
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,On,Off,2.774699,Monday,No,75.364373
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,On,On,21.831384,Saturday,No,83.401855
2,2022-01-01 02:00:00,28.704277,58.907658,1755.715009,2,Off,Off,6.764672,Sunday,No,78.270888
3,2022-01-01 03:00:00,20.080469,50.371637,1452.316318,1,Off,On,8.623447,Wednesday,No,56.519850
4,2022-01-01 04:00:00,23.097359,51.401421,1094.130359,9,On,Off,3.071969,Friday,No,70.811732
...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-11 11:00:00,28.619382,48.850160,1080.087000,5,Off,Off,21.194696,Saturday,No,82.306692
996,2022-02-11 12:00:00,23.836647,47.256435,1705.235156,4,Off,On,25.748176,Tuesday,Yes,66.577320
997,2022-02-11 13:00:00,23.005340,48.720501,1320.285281,6,Off,On,0.297079,Friday,Yes,72.753471
998,2022-02-11 14:00:00,25.138365,31.306459,1309.079719,3,On,Off,20.425163,Thursday,Yes,76.950389
999,2022-02-11 15:00:00,23.051165,42.615421,1018.140606,6,Off,On,2.455657,Saturday,No,71.545311

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Timestamp          1000 non-null   object
 1   Temperature        1000 non-null   float64
 2   Humidity           1000 non-null   float64
 3   SquareFootage      1000 non-null   float64
 4   Occupancy          1000 non-null   int64
 5   HVACUsage          1000 non-null   object
 6   LightingUsage      1000 non-null   object
 7   RenewableEnergy    1000 non-null   float64
 8   DayOfWeek          1000 non-null   object
 9   Holiday            1000 non-null   object
 10  EnergyConsumption  1000 non-null   float64
dtypes: float64(5), int64(1), object(5)
memory usage: 86.1+ KB

In [11]:
from sklearn.model_selection import train_test_split

x = data.drop(['EnergyConsumption'], axis=1 )
y = data['EnergyConsumption']

In [14]:
x

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,DayOfWeek,Holiday
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,On,Off,2.774699,Monday,No
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,On,On,21.831384,Saturday,No
2,2022-01-01 02:00:00,28.704277,58.907658,1755.715009,2,Off,Off,6.764672,Sunday,No
3,2022-01-01 03:00:00,20.080469,50.371637,1452.316318,1,Off,On,8.623447,Wednesday,No
4,2022-01-01 04:00:00,23.097359,51.401421,1094.130359,9,On,Off,3.071969,Friday,No
...,...,...,...,...,...,...,...,...,...,...
995,2022-02-11 11:00:00,28.619382,48.850160,1080.087000,5,Off,Off,21.194696,Saturday,No
996,2022-02-11 12:00:00,23.836647,47.256435,1705.235156,4,Off,On,25.748176,Tuesday,Yes
997,2022-02-11 13:00:00,23.005340,48.720501,1320.285281,6,Off,On,0.297079,Friday,Yes
998,2022-02-11 14:00:00,25.138365,31.306459,1309.079719,3,On,Off,20.425163,Thursday,Yes
999,2022-02-11 15:00:00,23.051165,42.615421,1018.140606,6,Off,On,2.455657,Saturday,No

In [15]:
y

0      75.364373
1      83.401855
2      78.270888
3      56.519850
4      70.811732
         ...
995    82.306692
996    66.577320
997    72.753471
998    76.950389
999    71.545311
Name: EnergyConsumption, Length: 1000, dtype: float64

In [17]:
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size= 0.25)

In [18]:
train_data = x_train.join(y_train)

In [19]:
train_data

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,DayOfWeek,Holiday,EnergyConsumption
826,2022-02-04 10:00:00,29.052976,40.751437,1233.309971,2,On,On,27.470798,Saturday,Yes,83.054685
507,2022-01-22 03:00:00,24.532160,50.026252,1913.064870,3,On,Off,14.108624,Wednesday,No,82.558204
457,2022-01-20 01:00:00,22.514235,50.695972,1916.294314,9,On,Off,13.500534,Sunday,No,73.596989
281,2022-01-12 17:00:00,29.248673,48.087676,1025.039867,4,On,Off,25.683314,Thursday,Yes,91.490982
301,2022-01-13 13:00:00,29.672113,56.543907,1196.241144,8,Off,On,2.505440,Thursday,No,80.487036
...,...,...,...,...,...,...,...,...,...,...,...
516,2022-01-22 12:00:00,28.226551,55.031652,1186.695924,6,Off,On,20.927287,Friday,Yes,77.263341
758,2022-02-01 14:00:00,20.225128,58.498654,1590.286479,5,Off,Off,22.932032,Thursday,No,56.849829
789,2022-02-02 21:00:00,24.181085,50.476790,1871.148405,9,Off,On,20.251680,Sunday,Yes,81.743052
111,2022-01-05 15:00:00,29.257024,38.184267,1293.973980,1,Off,On,21.162985,Saturday,No,85.360403
972,2022-02-10 12:00:00,25.081029,31.303698,1555.747609,3,Off,Off,5.219767,Friday,Yes,81.385155